
  <link rel="stylesheet" href="../static/1.css"/>
  <div class="login-box">
    <h2>Student Academic Project Price Predictor</h2>
    <form method="POST" ,action="/predict">
      <div class="user-box">
        <!--<label>Degree</label><br><br>-->
        <center><h1>Price of your Project is Rs.{{pred}}/.<h1></center>
      </div>
      <center>
      <a href="https://github.com/kvsnrkolapalli">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Contact us...?
      </a></center>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  
